.tracksuits {
  width: 100%;
  min-height: 100vh;
  margin: 10rem 0;
  &__container {
    width: 95%;
    margin: 0 auto;

    &-display {
      width: 50vw;
      margin: 20rem auto;

      @media only screen and(max-width:520px) {
        width: 80vw;
        height: 60vh;
      }

      h1 {
        margin-top: 2rem;
      }
      p {
        font-size: 0.7rem;
      }
      img {
        width: 100%;
        max-width: 100%;
      }
    }

    &-all {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 1.5rem;

      row-gap: 10rem;

      @media only screen and(max-width:820px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media only screen and(max-width:520px) {
        grid-template-columns: 1fr 1fr;
      }

      &-display {
        font-size: 0.7rem;
        line-height: 0.5rem;

        img {
          width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}
