.product {
  width: 100%;
  height: 100vh;
  margin: 14rem 0;

  .imageDiv {
    height: 100%;
  }

  &__container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;

    @media only screen and(max-width:940px) {
      width: 80%;
    }

    @media only screen and(max-width:620px) {
      font-size: 0.7rem;
      grid-template-columns: 3fr 1fr;
    }
    @media only screen and(max-width:420px) {
      width: 95%;
      grid-template-columns: 3fr 0.5fr;
    }

    &__presentation {
      height: 60vh;
      overflow: hidden;
      img {
        width: 100%;
        height: 60vh;
      }

      &-wrapper {
        height: 100%;
      }
    }
    &__controls {
      display: flex;
      flex-flow: column nowrap;
      margin-left: 0.5rem;
      img {
        max-width: 50%;
        max-height: 100%;
      }

      img:hover {
        cursor: pointer;
      }
    }

    &__description {
      margin-top: -2rem;

      @media only screen and(max-width:620px) {
        margin-top: 1rem;
      }
      button {
        width: 80%;
        background-color: black;
        color: white;
        margin: 2rem 0;

        @media only screen and(max-width:620px) {
          width: 100%;
        }
      }

      button:hover {
        animation-name: flash;
        animation-duration: 0.5s;
      }

      .description__error {
        display: none;
        font-weight: bold;
        font-style: italic;
        color: red;
      }
    }
  }
}
