body {
  margin: 0;
  padding: 0;
  font-family: monospace, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  a {
    color: black;
  }
  a:visited {
    color: black !important;
  }
}
// define the transition styles
.fade-enter {
  opacity: 0;
  transform: scale(1.2);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1.1);
  transition-property: opacity, transform;
  transition-duration: 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
